{% extends 'base.html' %}

{% block header_tags %}
	<meta name=”robots” content=”noindex”>
{% endblock %}

{% block title %}
  <title>Confirm Account - StockDox</title>
{% endblock %}

{% block page_content %}
<div class="container generic-header-container">
	<div class="row">
		<div class="col">
		<h1 class="text-success">Account Created</h1>
		<p>Your account has been created! Please verify your email address by clicking the link that was just emailed to you. If you don't see it in your Inbox, please check your Spam folder.</p>
		<p><a href="/">Return Home</a></p>
	</div>
	</div>
</div>
{% endblock %}