{% extends 'base.html' %}

{% block title %}
  <title>Password Reset Instructions Sent - StockDox</title>
{% endblock %}

{% block css_files %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block page_content %}

	<div class="container generic-header-container">
		<div class="row">
			<div class="col">
				<h3>Check Your Inbox</h3>
				<p>We've emailed you instructions for setting your password. You should receive the email shortly! Please check the Spam folder if you don't see it in your main inbox. If problems still persist, please <a href="mailto:stockdox@outlook.com">contact us.</a></p>
			</div>
		</div>
	</div>
	
{% endblock %}