{% extends 'base.html' %}

{% block title %}
  <title>Reset Password - StockDox</title>
{% endblock %}

{% block css_files %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block page_content %}

	<div class="container generic-header-container">
		<div class="row">
			<div class="col">

				{% if validlink %}

				<h3>Set a new password!</h3>
				<form method="POST">
				  {% csrf_token %}
				  {{ form.as_p }}
				  <input type="submit" value="Change my password" class="btn btn-primary">
				</form>

				{% else %}

				<h3 class="text-danger">Invalid Link</h3>
				<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

				{% endif %}

			</div>
		</div>
	</div>
	
{% endblock %}