{% extends 'base.html' %}

{% block title %}
  <title>Change Password - StockDox</title>
{% endblock %}

{% block css_files %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block page_content %}

	<div class="container generic-header-container">
		<div class="row">
			<div class="col">
				<h3>Change Password</h3>
			</div>
		</div>
		<div class="row">
			<div class="col">
			  <form method="POST">
			    {% csrf_token %}
			    {{ form.as_p }}
			    <input type="submit" value="Change password" class="btn btn-primary">
			  </form>
			</div>
		</div>
	</div>
	
{% endblock %}