{% extends 'base.html' %}
{% load static %}

{% block header_tags %}
  <meta name="description" content="Access all historical filings for Canadian public companies.">
{% endblock %}


{% block page_content %}

<div class="container-fluid" id="homepage-main-container">
    <div class="row mt-4">
      <div class="col text-center">
        <div id="356103620">
            <script type="text/javascript">
                try {
                    window._mNHandle.queue.push(function (){
                        window._mNDetails.loadTag("356103620", "728x90", "356103620");
                    });
                }
                catch (error) {}
            </script>
        </div>
         <h1 id="front-page-search-header">stockdox</h1>
         <h5>Canadian filings made easy</h5>
      </div> 
   </div>
   <div class="row mt-4">
      <div class="col">
         <div class="input-group container-fluid" id="scrollable-search-menu">
           <input type="text" class="form-control typeahead" name="query" id="query" placeholder="Ticker or Company Name" data-provide="typeahead" autocomplete="off">
         </div>
      </div>
   </div>
   <div class="row mt-3">
    <div class="col text-center">
      <button id="company-search-button" class="btn btn-primary btn-lg" type="submit" onclick="search_company(event)">Search</button>
    </div>
   </div>

    <script type="text/javascript">
      $(".typeahead").typeahead({
        source: [
          {% for company in unique_companies %}
            { 
              id: "{{company.companyname }}",
              name: "{{ company.ticker }} : {{ company.companyname | safe | title }}"
            },
          {% endfor %}
        ],

        items: 10,

        // min length to trigger the suggestion list
        minLength: 1,

        // number of pixels the scrollable parent container scrolled down
        scrollHeight: 10,

        // auto selects the first item
        autoSelect: false,

        // callbacks
        afterSelect: function (data) {
          document.getElementById("company-search-button").disabled = true;
          window.location.href="/search/"+data.name;
        },

        // adds an item to the end of the list
        addItem: false,

        // delay between lookups
        delay: 0,

        // default template
        // menu: '<ul class="typeahead dropdown-menu" role="listbox"></ul>',
        // item: '<li><a class="dropdown-item" href="#" role="option"></a></li>',
        // headerHtml: '<li class="dropdown-header"></li>',
        // headerDivider: '<li class="divider" role="separator"></li>',
        // itemContentSelector:'a',
      });
    </script>
</div>
{% endblock %}

{% block bottom_js_files %}
{% endblock %}